<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Alexia Marisol Diaz Verduzco & Frida María Hernández López

**Fecha:** 14 de octubre del 2021.

**Expediente** : if720500 & if720476
    
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/FridaHernandezL/ProyectoConjunto_Modulo2

# Proyecto TEMA-2

### 1.1 Simulación aplicada a clientes con tarjeta de crédito.

### 1.2 Objetivos.
> #### 1.2.1 Objetivo general.
>  - Presentar a la institución bancaria información valiosa y rentable para la toma de decisiones.


> #### 1.2.2 Objetivos específicos.
>  - Evaluar y simular el límite de crédito promedio para los clientes.
>  - Proyectar la categoría de la tarjeta más común dentro de la institución bancaria.   
>  - Determinar por medio de simulaciones el rango de edad al que conviene ofrecer futuras tarjetas de crédito.
>  - Analizar la conducta de los clientes en base al tiempo activo dentro de la institución. 

### 1.3 Definición del problema.

> En muchos países sobretodo subdesarrollados el uso de tarjetas de crédito es un tema poco conocido así como también es común la desconfianza a las mismas. Sin embargo, por el rumbo profesional que ambas llevamos consideramos este tema como algo muy importante e interesante.  
> Entre los fénomenos financieros que se presentaron durante la pandemia como sociedad, predomina un deceso importante en las líneas de crédito; con este análisis queremos brindar a la institución en cuestión una visión más organizada sobre algunos de los aspectos de los clientes, para así ayudar a la toma de decisiones dentro de la financiera, que optimicen las ventas e ingresos en el banco.

### 1.4 Nodos y variables que se decidieron simular y porqué

> Los nodos que decidimos simular son:


>  -  Límite de crédito 
>  -  Categoría de la tarjeta 
>  -  Edad del cliente
>  -  Tiempo activo

Conocer el **límite de crédito** promedio nos ayudará a visualizar como opera la institución financiera de forma interna, es decir, que cantidades promedio está autorizada a otorgar.  

El objetivo de proyectar la **categoría de la tarjeta** más común 

La finalidad de conocer el rango de **edad** más frecuente, nos ayuda a visualizar posibles clientes de la institución que aun no cuentan con tarjeta de crédito y son candidatos a obtener una.  

Al analizar el **tiempo activo** de los clientes nos brindará información del comportamiento de los mismos, en otras palabras identificaremos en un futuro cuantos clientes activos tendrá la institución para que el banco tome decisiones respecto a su administración(valuación del riesgo).

### Diagrama de flujo

In [21]:
from IPython.display import Image
Image("Diagrama_Proyecto.PNG")

### 1.5 Definición de hipótesis y supuestos

> Supuestos Constantes 
>   -  El dólar estadounidense es la moneda base para el límite de crédito. 
>   -  La institución bancaria solamente cuenta con 4 tipos de tarjeta.
>   -  Los meses con tenencia de la cuenta bancaria serán tomados como 30 días.
>   -  Toda la información presentada es real. 
>   -  Las 4 variales a utilizar son las más relevantes para presentar a la institución.

> Hipótesis
>   -  Un 60% de los clientes cuentan con un límite de crédito igual o inferior al promedio.
>   -  La categoría de la tarjeta más común es la "Blue"
>   -  El rango de edad más común de los clientes se centra en personas en la etapa de la vida laborable o productiva.
>   -  Los clientes no perduran con su tarjeta de crédito más de 3 años.

### 1.6 Obtención de la base de datos

### Librerías

In [2]:
import pandas as pd

### Base de datos normal

aquí se explica de donde se obtuvo la base de datos
https://www.kaggle.com/sakshigoyal7/credit-card-customers

In [3]:
data= pd.read_csv("BankChurners.csv")
data= data.set_index('ID_cliente')
data.head()

,Cuenta,Edad,Genero,Dependientes,Nivel_educativo,Estado_civil,Ingresos,Categoria_tarjeta,Meses_cuenta,Recuento_relaciones_total,...,Limite_credito,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
ID_cliente,,,,,,,,,,,,,,,,,,,,,
768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

### Base de datos a utilizar (limpia)

In [20]:
data = data[['Limite_credito','Categoria_tarjeta','Edad','Meses_cuenta']]
data.head()

            Limite_credito Categoria_tarjeta  Edad  Meses_cuenta
ID_cliente
768805383          12691.0              Blue    45            39
818770008           8256.0              Blue    49            44
713982108           3418.0              Blue    51            36
769911858           3313.0              Blue    40            34
709106358           4716.0              Blue    40            21

### 1.7 Simulación nodos

4) Se deben simular al menos 4  "nodos" o "escenarios" en tu problema. Para la segunda entrega debes haber elaborado un programa que simule dos de ellos, los primeros dos de tu diagrama.